c/.idea/workspace.xml
c/.idea/c.iml
c/.idea/misc.xml
c/.idea/modules.xml
dottest/bin/Debug/netcoreapp2.0/dottest.pdb
dottest/bin/Debug/netcoreapp2.0/dottest.deps.json
dottest/bin/Debug/netcoreapp2.0/dottest.runtimeconfig.dev.json
dottest/bin/Debug/netcoreapp2.0/dottest.runtimeconfig.json
dottest/obj/dottest.csproj.nuget.cache
dottest/obj/dottest.csproj.nuget.g.props
dottest/obj/dottest.csproj.nuget.g.targets
dottest/obj/project.assets.json
dottest/obj/Debug/netcoreapp2.0/dottest.AssemblyInfo.cs
dottest/obj/Debug/netcoreapp2.0/dottest.AssemblyInfoInputs.cache
dottest/obj/Debug/netcoreapp2.0/dottest.csproj.CoreCompileInputs.cache
dottest/obj/Debug/netcoreapp2.0/dottest.csproj.FileListAbsolute.txt
dottest/obj/Debug/netcoreapp2.0/dottest.dll
dottest/obj/Debug/netcoreapp2.0/dottest.pdb
.vscode/launch.json
.vscode/tasks.json
dottest/.vscode/launch.json
dottest/.vscode/tasks.json
