c/.idea/workspace.xml
dottest/bin/Debug/netcoreapp2.0/dottest.pdb
dottest/obj/dottest.csproj.nuget.cache
dottest/obj/dottest.csproj.nuget.g.props
dottest/obj/project.assets.json
dottest/obj/Debug/netcoreapp2.0/dottest.csproj.CoreCompileInputs.cache
dottest/obj/Debug/netcoreapp2.0/dottest.csproj.FileListAbsolute.txt
dottest/obj/Debug/netcoreapp2.0/dottest.dll
dottest/obj/Debug/netcoreapp2.0/dottest.pdb
